.container-fluid{
    background-color: orangered;

}
h1{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 60px;
}
.container{
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
button{
    padding-left: 25px;
    text-align: center;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#upvote{
    background-color: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.btn{
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
#delete{
    background-color: red;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}